.header-logo {
    display: flex;
    height: 40px;
    box-sizing: border-box;
    border-style: outset;
    border-radius: 5px;
    padding: 5px 5px;
    margin-left: 20px;
    color: white;
    font-weight: 700;
}