<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\LabReportAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
	<connectionStrings>
		<add name="PatientDBConnection" connectionString="Data source=Patient.db"/>
	</connectionStrings>
</configuration>
<!--ProjectGuid: 46FE6E8E-0277-48E1-8756-E564392D3FB6-->