.navbar {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	background-color: #01193e;
	align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
	text-decoration: none;
}

.navbar a {
	padding: 10px;
	margin: 10px;
	margin-top: 30px;
	color: #c5c9d2;
	transition: color 0.2s;
	text-decoration: none;
}

.navbar a:hover{
	color: #ffffff;
}

.navbar__left > a {
    color: #ffffff;
    font-weight: bold;
}

.navbar__middle2 > input {
    min-width: 350px;
    padding: 8px 0px;
}