.video{
    display: flex;
    padding: 15px;
    color: black;
    background-color:rgb(235, 235, 235);
    margin-top: 15px;
    width: 800px;
    box-shadow: 0 0 5px;
}

.video__title {
    font-size: 1.3em;
    padding-bottom: 8px;
}

.video__image{
    max-height: 140px;
    padding-right: 15px;
}

.video__right{
    display: flex;
    flex-direction: column;
}

.video__date{
    margin-top: auto;
    font-weight: bold;
}